doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="style.css")
    title ThumbGallery
  body
    .container
      .main-img
        img(src="asset/image/img1.jpg", id="current")
      .imgs
        img(src="asset/image/img1.jpg")
        img(src="asset/image/img2.jpg")
        img(src="asset/image/img3.jpg")
        img(src="asset/image/img4.jpg")
        img(src="asset/image/img5.jpg")
        img(src="asset/image/img6.jpg")
        img(src="asset/image/img7.jpg")
        img(src="asset/image/img8.jpg")

    script(src="asset/js/main.js")